{{> header}}

  <div class="row">
    <div class="col-md-3">
      <p class="lead">YelpCamp</p>
      <div class="list-group">
        <li class="list-group-item">info 1</li>
        <li class="list-group-item">info 2</li>
        <li class="list-group-item">info 3</li>
        <a href="/campgrounds" class="d-block"><button type="button"
          name="button">Go back</button></a>
      </div>
    </div>
    <div class="col-md-7 offset-md-1">
      <div class="card">
        <img src="{{campground.image}}" class="card-img-top" alt="Card image cap">
        <div class="card-body">
          <span class="float-right font-weight-bold">$9.00/night</span>
          <h3 class="card-title text-primary"> {{campground.name}} </h3>
          <p class="card-text"> {{campground.description}} </p>
          <p class="font-weight-bold"> Submited By: {{ campground.author.username }}</p>
          {{#if bool}}
            <!-- EDIT BUTTON -->
          <a href="/campgrounds/{{campground._id}}/edit" class="btn btn-warning btn-sm">Edit</a>
          <!-- DELETE BUTTON -->
          <form class="d-inline" action="/campgrounds/{{campground._id}}?_method=DELETE" method="post">
            <button type="submit" name="button" class="btn btn-danger btn-sm">Delete</button>
          </form>
          {{/if}}
        </div>
      </div>
        <div class="card p-3" style="margin-top: 10px; background: #ccc;">
          <div class="text-right">
            <a href="/campgrounds/{{campground._id}}/comments/new"
               class="btn btn-success">Add new comment</a>
          </div>
          <hr>
          {{#each campground.comments}}
            <div class="row mb-2">
              <div class="col-md-12">
                <strong>{{this.author.username}}</strong>
                <span class="float-right">10 days ago</span>
                <p class="mb-1"> {{this.text}} </p>
                  {{showButtons ../currentUser ../campground}}
              </div>
            </div>
          {{/each}}
        </div>
    </div>
  </div>


{{> footer}}
